*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
.container{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn,.btns{
font-size: 20px;
padding: 20px 30px;background: none;
border: 1px solid #2ecc71;
cursor: pointer;
position: relative;
overflow: hidden;
border-radius: 10px;
transition: 0.8s;
}
.btns{
    border: 1px solid #3498db !important;
}
.btn1,.btn2{
    color: #2ecc71;
}
.btn3,.btn4{
    color: #fff;
}

.btn1:hover,.btn2:hover{
    color: #fff;
}

.btn3:hover,.btn4:hover{
    color: #2ecc71;
}
.btn::before{
    content: '';
    width:100%;
    position: absolute;
    height: 0%;
    transition: 0.8s;
    left: 0;
    background: #2ecc71;
    z-index: -1;
}
.btn1::before,.btn3::before{
top:0;
border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
    bottom:0;
    border-radius: 50% 50% 0 0;
    }
    .btn3::before,.btn4::before{
      height: 180%;
        }
        .btn1:hover::before,.btn2:hover::before{
            height: 180%;
        }
        .btn3:hover::before,.btn4:hover::before{
            height: 0%;
        }


        /*btn5 to btn8*/
        .btn5,.btn6{
            color: #3498db;
        }
        .btn7,.btn8{
            color: #fff;
        }
        
        .btn5:hover,.btn6:hover{
            color: #fff;
        }
        
        .btn7:hover,.btn8:hover{
            color: #3498db;
        }

.btns::before{
    content: '';
    height:100%;
    position: absolute;
    bottom: 0%;
    transition: 0.8s;
    right: 0;
    width: 0;
    background: #3498db;
    z-index: -1;
}
.btn5::before{
    left:0;
    border-radius: 0 0 50 50%;
}
.btn7::before{
    left:0;
    border-radius:  0 0 50% 50;
    }
    .btn8::before{
        right: 0;
        border-radius: 0 0 50 50%;
        }
        .btn7::before,.btn8::before{
            width: 200%;
              }
              .btn5:hover::before,.btn6:hover::before{
                  width: 180%;
              }
              .btn7:hover::before,.btn8:hover::before{
                  width: 0%;
              }
              
              @media(max-width:680px){
                  .container{
                      display: grid;
                      grid-template-columns: repeat(auto-fit, minmax(1,1fr));
                   grid-row-gap: 30px;
                   margin: 20px 0 20px 0;
                  }
                  .foot{
                      display: flex;
                      justify-content: center;
                      align-items: center;
                  }
                  .middle{
                      margin-top: 50%;
                      margin-bottom: 20px;
                      display: grid;
                      grid-template-columns: repeat(auto-fit,minmax(400px,2fr));
                  }
                  #btn{
                      display: grid;
                      width:50px;
                      height: 50px;
                  }
              }

              .foot{
                  height: 9vh;
                  text-align: center;
                  font-size: 1.7em;
                  margin-top: 40px;
                  text-shadow: 1px 1px #2ecc71;
              }
              .head{
                height: 9vh;
                text-align: center;
                font-size: 1.7em;
                margin-top: 20px;
                text-shadow: 1px 1px #3498db; 
            }


            .middle{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30vh;
            }
            #btn{
                display: inline-block;
                width:90px;
                height: 90px;
                background: #f1f1f1;
                margin: 10px;
                border-radius: 30%;
                box-shadow: 0 5px 15px #00000070;
                color: #3498db;
                overflow: hidden;
                position: relative;
            }
            a{
                text-decoration: none;
            }
            #btn i{
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 90px;
                font-size: 26px;
                transition: 0.2s linear;
            }
            #btn:hover i{
                color: #f1f1f1;
                transform: scale(1.3);
            }
            #btn::before{
                content: "";
                height: 120%;
                width: 120%;
                position: absolute;
                background: #3498db;
                transform: rotate(45deg);
                top:90%;
                left:-110%;
            }
            #btn:hover::before{
                animation: aaa 0.7s 1;
                top: -10%;
                left: -10%;
            }
            @keyframes aaa{
                0%{
                    top:90%;
                left:-110%;
                }
                50%{
            left: 10%;
            top:-30%;
                }
                100%{
                    top: -10%;
                    left: -10%;
                }
            }